[Unit]
Description=geo_scanner

[Service]
User=jayesh
#Group=administrator
Type=simple
WorkingDirectory=/var/lib/jenkins/workspace/geo-scanner
ExecStart=/var/lib/jenkins/workspace/geo-scanner/venv/bin/gunicorn Geo_Scanner.wsgi:application -b 0.0.0.0:5003 --error-logfile /var/log/geo_scanner/error.log --access-logfile /var/log/geo_scanner/access.log
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
